@import "../../index";

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;

    .cover-img {
        max-height: 600px;
        max-width: 100%;
        object-fit: contain;
    }

    .text-content-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            font-size: 1.5rem;
            padding-bottom: 10px;

            @include media-phone {        
                font-size: 1.25rem;
            }
        }

        p {
            font-size: 1.1rem;
            text-indent: 20px;
            text-align: justify;
            color: #3b3232;
        }

        .short-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
            row-gap: 20px;
            align-items: center;
            width: 100%;
            padding: 30px 50px;
            background-color: $secondary-color;
            border-radius: 5px;
            border: $primary-color 2px;

            @include media-phone {        
                grid-template-columns: 1fr;
                padding: 20px 30px;
            }

            .short-info-p {
                font-size: 1.1rem;
                text-indent: inherit;
            }
        }

        .bloc-container {
            padding: 30px 50px;
            background-color: $secondary-color;
            border-radius: 25px;

            @include media-phone {        
                padding: 20px 30px;
            }
        }

        .text-content {
            display: flex;
            flex-direction: column;
            text-align: start;

            .story-container {
                display: flex;
                flex-direction: column;
                gap: 25px;

                h4 {
                    font-size: 1.25rem;
                    color: $tertiary-color;
                    padding-bottom: 10px;

                    @include media-phone {        
                        font-size: 1.15rem;
                    }                    
                }
            }

            .tags {
                display: flex;
                justify-content: center;
                gap: 20px;
                flex-wrap: wrap;

                @include media-phone {        
                    justify-content: start;
                }

                .tag {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: $tertiary-color;
                    color: white;
                    padding: 20px;
                    border-radius: 10px;
                    max-width: 450px;

                    @include media-phone {        
                        justify-content: start;
                        padding: 10px;
                    }
                }
            }
        }
    }
}
