@import "../../index";

.collapses-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 38px 108px;
    gap: 30px;

    @include media-phone {
        padding: 19px 0px;
        gap: 20px;
    }
}

.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;

    .collapse-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 52px;
        padding: 0px 50px;
        border-radius: 5px;
        background-color: $secondary-color;
        border: $primary-color 2px dotted;
        z-index: 2;

        @include media-phone {
            text-align: start;
            padding: 0 20px;
        }

        h3 {
            padding-bottom: 0;
        }

        img {
            width: 24px;
            height: 14px;
            cursor: pointer;

            @include media-phone {
                width: 16;
                height: 9px;
            }
        }

        .chevron-up {
            display: flex;
            transition: transform 0.35s ease;
        }

        .chevron-down {
            display: flex;
            transform: rotate(-180deg);
            transition: transform 0.35s ease;
        }

    } 

    .text-parent {
        height: 0px;
        overflow: hidden;
        transition: height ease 0.35s;
        background-color: $secondary-color;
        box-shadow: 0px -10px $secondary-color;
        z-index: 1;
        border-radius: 0px 0px 5px 5px;
    }

    .text {
        text-align: justify;
        font-size: 1.125rem;
        padding: 20px 50px;
        transition: transform 0.35s ease;

        @include media-phone {
            font-size: 0.75rem;
            padding: 20px 20px;
        }            
    }
}