@import "../../index";

.main-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
    width: 100%;

    @include media-phone {
        gap: 30px;
        padding-bottom: 25px;
        padding-top: 0;
    }

    h2 {
        font-size: 1.4rem;

        @include media-phone {
            font-size: 1.2rem;
        }
    }
    
    .link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 1.2rem;

        a:hover {
            text-decoration: underline 2px $primary-color;
        }

        @include media-phone {
            font-size: 1.1rem;
        }

        .arrow-icon {
            width: 25px;
            height: 25px;
        }

        .arrow-icon.left {
            animation: moveLeftArrow  4s ease-in-out infinite;
        }
    
        .arrow-icon.right {
            animation: moveRightArrow  4s ease-in-out infinite;
        }
    }

    .img-cover {
        border-radius: 25px;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }
}



@keyframes moveLeftArrow {
    0% {
        transform: translateX(-25px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25px);
    }
}


@keyframes moveRightArrow {
    0% {
        transform: translateX(25px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(25px);
    }
}